page-login {
    .card-header{
        font-size: 3em;
    }
    .login-bg{
        background-image: url("../../assets/img/Login.jpg");
        background-size: 100% 100%;
        background-position: center;
    }
    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
    }
    ion-card.card{
            box-shadow: none;
            background: rgba(0,0,0,0.6);
            border-radius: 5px;
    }
    a,ion-card-header.card-header{
        color:#fff;
    }
    .list> .item-block:first-child{
        border:medium none;
    }
    .item{
        margin-bottom: 10px;
        background: rgba(255,255,255,0.5);
        border: medium none;
    }
    
	.icon {
		padding-right: 10px;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}
}
